<div class="row">
  <div class="col-md-12">
    <h2>{{movieDetails?.Title}}</h2>
    <div class="detail">
      <span>{{movieDetails?.Rated}}</span>
      <span> | </span>
      <span>{{movieDetails?.Runtime}}</span>
      <span> | </span>
      <span>{{movieDetails?.Genre}}</span>
      <span> | </span>
      <span>{{movieDetails?.Released}}</span>
    </div>
  </div>
  <div class="col-md-12" style="display: flex; flex-direction: row;">
    <img src="{{movieDetails?.Poster}}" *ngIf="movieDetails?.Poster !== 'N/A'">
    <div>
      <div>{{movieDetails?.Plot}}</div>
      <br>
      <div><strong>Director: </strong>{{movieDetails?.Director}}</div>
      <br>
      <div><strong>Writer(s): </strong>{{movieDetails?.Writer}}</div>
      <br>
      <div><strong>Actors: </strong>{{movieDetails?.Actors}}</div>
    </div>
  </div>
</div>
