/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html,body {
  height:100%;
}

body {
  background-color: #ccc;
}

.main-content {
  background-color: #fff;
  display: table;
  width: 100%;
}

.centered-content {
  width: 80%;
  margin: auto;
  display: table;
  height: 100vh;
}

@media (max-width: 600px) {
  .centered-content {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .centered-content {
    width: 100%;
  }
}
